$white: #fff;
$text: rgba(255, 255, 255, 0.50);
$gradient: linear-gradient(308deg, #A7F306 2.04%, #F3CD06 98.59%);
$silverGradient: linear-gradient(90deg, #FFF 0.01%, rgba(255, 255, 255, 0.30) 49.48%, #FFF 99.99%);
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-40: 40px;
$font-size-80: 80px;
$font-size-120: 120px;